[Unit]
Description=Ngrokd daemon
After=syslog.target network.target
[Service]
Type=simple
Restart=always
RestartSec=1min
StandardOutput=null
StandardError=null
Environment=SYSTEMD_LOG_LEVEL=debug
ExecStart=/opt/ngrok/bin/ngrokd -tlsKey /opt/ngrok/server.key -tlsCrt /opt/ngrok/server.crt -domain \'YOUR-TUNEL-DOMAIN\' -httpAddr \':80\' -httpsAddr \':443\' -log \'/var/log/ngrokd.log\'
ExecStop=/usr/bin/killall ngrokd
[Install]
WantedBy=multi-user.target
